
/* resets browser's default behave */
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



/* common css for re-uability */
.primary-color {
    color: #FC9252;
}
.secondary-color {
    color: #707070;
}
p {
    line-height: 1.8;
}
.btn {
    background: linear-gradient(to right,salmon, orange);
    text-decoration: none;
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 12px;
    display: inline-block;
    margin-top: 30px;
}
.half-width {
    width: 50%;
}
.section-heading {
    font-size: 35px;
    font-weight: 700;
}
.centered-paragraph-text {
    width: 50%;
    margin: 0px auto;
    text-align: center;
}





/* navbar styles */
#navbar {
    display: flex;
    justify-content: space-between;
    background-color: #FEF3EC;
}
.logo {
    margin-left: 100px;
    padding: 5px;
    font-weight: 900;
    cursor: pointer;
}
.menu {
    margin-right: 20px;
}
.menu ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0px 10px;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
}





/* hero section styles */
#hero {
    display: flex;
    margin-bottom: 50px;
}
.hero-text {
    margin-left: 100px;
    margin-top: 100px;
}
#hero h1 {
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
}
.hero-image img {
   width: 80%;
   margin-left: 100px;
}




/* about-us section style*/
#about-us {
    display: flex;
    padding: 50px 0px 0px 0px;
    background-image: url('./images/shape/about-me-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.about-us-image img {
    width: 50%;
    margin-left: 200px;
}
.about-us-text {
    margin-top: 80px;
    margin-left: 200px;
}
.about-us-text p {
    width: 70%;
    font-weight: 500;
}
.about-us-text p {
    margin-bottom: 25px;
}




/* Our-recipes section style */
#our-recipes {
    margin-bottom: 30px;
    padding: 70px;
}
#our-recipes h2 {
    text-align: center;
}
.recipe-card-container {
   margin-top: 35px;
   display: flex;
}
.recipe-card {
   width: 33.33%;
   padding: 15px 15px 45px;
   margin: 0px 25px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   border-radius: 20px;
}
.recipe-card img {
    max-width: 100%;
    border-radius: 20px;
}
.recipe-title {
    font-weight: 900;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 8px;
}
.recipe-card p {
    margin: 0px;
    width: 100%;
}




/* follower section style */
#follower {
    width: 80%;
    margin: 0px auto;
    margin-bottom: 30px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}
#follower h2 {
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 0px;
}
#follower p {
    margin-top: 8px;
}





/* team section style */
#team {
    padding: 50px 70px;
}
#team h2 {
    text-align: center;
}
.team-member {
    display: flex;
    padding: 30px 70px;
    margin-top: 10px;
}
.team-member div {
    width: 25%;
    margin: 0px 15px;

}
.team-member img {
    width: 70%;
    border-radius: 5px;
}
.team-member h5 {
    margin-left: 30px;
}



/* contact section style */
#contact {
    padding: 30px;
    margin-bottom: 30px;
}
#contact h2, #form h3 {
    text-align: center;
}

#form {
    width: 700px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    border-radius: 15px;
    margin: 20px auto;
}

#form input, #form textarea {
    display: block;
    width: 90%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #d3cbcb;
}
  
#form textarea {
    height: 120px;
}
#form .submit-btn {
    background: linear-gradient(to right,salmon, orange);
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 12px;
    display: inline-block;
    margin-top: 10px;
    border: 0px solid transparent;
    margin-left: 20px;
    cursor: pointer;
}



/* footer section style */
#footer {
    background-color: #000;
    padding-top: 40px;
    padding-bottom: 80px;
}
#footer h2 {
    text-align: center;
    word-spacing: 5px;
}
#footer p {
    text-align: center;
    margin-top: 30px;
}
