/* resets browser's default behav */
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* common css for re-uability */

.primary-color {
    color: #FC9252;
}
.secondary-color {
    color: #707070;
}
p {
    line-height: 1.8;
}

/* topbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
}
.logo {
    margin-left: 100px;
    padding: 5px;
    font-weight: 900;
    cursor: pointer;
}
.menu {
    margin-right: 100px;
}
.menu ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0px 10px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
}

/* hero section styles */
.hero {
    display: flex;
    margin-bottom: 50px;
}
.half-width {
    width: 50%;
}
.hero-text {
    margin-left: 100px;
    margin-top: 100px;
}
.hero h1 {
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
}
.link-button {
     background: linear-gradient(to right, orange,red);
     text-decoration: none;
     padding: 15px 30px;
     border-radius: 50px;
     color: #fff;
     font-size: 12px;
     display: inline-block;
     margin-top: 30px;
}
.hero-image img {
   width: 80%;
   margin-left: 100px;
}

/* about-me section style*/
.about-me {
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;
    background-image: url('./images/shape/about-me-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.about-me-image img {
    width: 50%;
    margin-left: 200px;
}
.about-me-text {
    margin-top: 80px;
    margin-left: 200px;
}
.about-me-text p {
    width: 60%;
}
.section-heading {
    font-size: 35px;
    font-weight: 700;
}
.about-me-text p {
    margin-bottom: 25px;
}

/* My-recipes section style */
.my-recipes {
    margin-bottom: 30px;
    padding: 70px;
}
.my-recipes h2 {
    text-align: center;
}
.recipe-description {
    width: 50%;
    margin: 0px auto;
    text-align: center;
}
.recipe-container {
   margin-top: 35px;
   display: flex;
}
.single-recipe {
   width: 33.33%;
   padding: 15px 10px 45px 10px;
   margin: 0px 25px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   border-radius: 20px;
}
.single-recipe img {
    max-width: 100%;
    border-radius: 20px;
}
.recipe-title {
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 8px;
}
.single-recipe p {
    margin: 0px;
    width: 100%;
}

/* follower section style */
.follower {
    width: 80%;
    margin: 0px auto;
    margin-bottom: 30px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}
.follower div h2 {
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 0px;
}
.follower div p {
    margin-top: 8px;
}

/* team section style */
.team {
    padding: 50px 70px;
}
.team h2 {
    text-align: center;
}
.team p {
    width: 50%;
    margin: 0px auto;
    text-align: center;
}
.team-member {
    display: flex;
    padding: 30px 70px;
    margin-top: 10px;
}
.team-member div {
    width: 25%;
    margin: 0px 15px;

}
.team-member div img {
    width: 70%;
    border-radius: 5px;
}
.team-member div h5 {
    margin-left: 30px;
}



/* footer section style */
.footer {
    background-color: #000;
    padding-top: 40px;
    padding-bottom: 80px;
}
.footer h2 {
    text-align: center;
    word-spacing: 15px;
}
.footer p {
    text-align: center;
    margin-top: 30px;
}
